.wrapper {
    padding-top: 50px;
    /* background-image: url(https://imgur.com/g9cPt68.jpg);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat; */
    background: #6f131e;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  